# The pip syntax below allows us to not repeat
# In order to not maintain two separate dependency
# lists in setup.py vs requirements.txt
# See https://caremad.io/posts/2013/07/setup-vs-requirement/

python-snappy
six==1.11
tensorflow==1.3.0
tensorflow-transform==0.3.1